/* styles.css */
.sidebar {
    position: sticky; /* Keep the sidebar sticky */
    top: 20px; /* Space from the top */
    height: calc(100vh - 20px); /* Full height minus padding */
    overflow-y: auto; /* Allow scrolling if content exceeds the height */
    border-radius: 0; /* Remove rounded corners */
    box-shadow: none; /* Remove shadow to avoid the card effect */
  }
  
  .nav-link {
    color: #495057; /* Darker color for sidebar links */
    padding: 12px; /* Consistent padding for links */
    border-radius: 0; /* Remove rounded corners */
  }
  
  .nav-link:hover {
    background-color: #e9ecef; /* Background change on hover */
  }
  
  .text-dark {
    color: #343a40; /* Darker text color for links */
  }

  .comment-box {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}

.comment-box.show {
  max-height: 500px; /* Hoặc giá trị phù hợp */
  opacity: 1;
}

  